@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background: linear-gradient(to right, rgb(55, 65, 81), rgb(17, 24, 39), rgb(0, 0, 0));
  }
}

option {
  background-color: rgba(255, 255, 255, 0.6); /* Option background transparency */
  color: #000; /* Text color */
}